/* Fonts link */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* Common styles or utilities */

body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 27px;
}

.container {
  background-color: #fff;
  width: 870px;
  padding: 30px;
  margin-top: 21px;
  border-radius: 5px;
}

/* Top Players style */

.top-players {
  margin-bottom: 30px;
}

.title {
  color: #562eff;
  font-size: 24px;
  margin-top: 3px;
}

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}

.player {
  display: flex;
  align-items: center;
}

.player img {
  width: 56px;
  height: 56px;
}

.player-name {
  margin-left: 16px;
  font-size: 18px;
}

/* Blog portion */

.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 26px;
}

.blog-info {
  display: flex;
}

.blog-Sec .thumbnail img {
  width: 177px;
  height: 117px;
  margin-right: 16px;
}

.blog-title {
  font-size: 20px;
}

.author {
  font-size: 16px;
}

.author a {
  text-decoration: none;
  color: #562eff;
}

/* Courses style */

.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 22px;
}

.course {
  width: 253px;
  height: 270px;
  padding: 10px;
  box-shadow: 5px 5px 10px gray;
  border-radius: 10px;
  text-align: center;
}

.course .course-banner img {
  width: 224px;
  height: 104px;
}

.course-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fas {
  font-size: 12px;
}

.fas.filled {
  color: #ffc014;
}

.fas.empty {
  color: #aeaeae;
}

.course-time {
  color: #f5586f;
  background-color: #ffe4e8;
  border-radius: 15px;
  padding: 3px;
}

/* Media Query */

@media only screen and (max-width: 688px) {
  .container {
    width: 100%;
  }

  .title {
    text-align: center;
  }

  .players,
  .blogs,
  .courses {
    grid-template-columns: repeat(1, 1fr);
  }

  .player {
    flex-direction: column;
  }

  .course {
    margin-left: 60px;
    margin-bottom: 20px;
  }
}
